.footer {
	background-image: url("../images/blacktexture.png");
	background-size: cover;
	background-position: center center;
	/* padding: 50px 0; */
	color: #fff;
}

.shapedivider02{
	width: 100vw;
	margin-top: -1px;
	padding: 0px 0px 30px;
}

.footer-title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 15px;
	letter-spacing: -0.8px;
}

.footer-subtitle {
	padding: 0 0px 0 0px;
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: lighter;
}

@media (min-width: 992px) {
	.footer-subtitle {
		padding: 0 150px 0 150px;
	}
}

footer .btn {
	font-size: 18px;
	padding: 10px 25px;
	border-radius: 30px;
	background-color: #61ce70;
	border-color: black;
	transition: 0.5s;
}

footer .btn:hover {
	border-color: black;
	background-color: #46ad53;
	transform: scale(1.2);
}
