html,
body,
#home {
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: Arial, sans-serif;
}

.navbar-collapse {
	display: none;
}

.navbar-collapse.show {
	display: block;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-contato {
	color: #9feeaf;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #d3843d;
	transition: 0.3s;
	transform: scale(1.1);
}

.navbar-light .navbar-nav .nav-contato:hover {
	color: #1ad03f;
	transition: 0.3s;
	transform: scale(1.1);
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 30px;
}
