html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	box-sizing: unset;
}


/* .navbar-collapse {
	display: none;
} */

.navbar-collapse.show {
	display: block;
}

nav.navbar-transparent {
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	transition: 0.3s;

}

.navbar-light .navbar-nav .nav-contact {
	color: #9feeaf;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #d3843d;
	transform: scale(1.1);
}

.navbar-light .navbar-nav .nav-contact:hover {
	color: #1ad03f;
	transition: 0.3s;
	transform: scale(1.05);
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.5);
}

.division {
	width: 1px;
	background: white;
	margin: 12px 30px;
}
