.scroll-to-top {
    background-color: black;
    border: 3px;
    border-style: solid;
    border-color: white;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
    line-height: 50px;
    width: 58px;
    
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s ease;
  }

  .scroll-to-top:hover{
    border: 3px;
    border-style: solid;
    border-color: black;
    background-color: white;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;

  }
  
  .scroll-to-top.showBtn {
    opacity: 1;
    transform: translateY(0);
  }
     